
			*{
				padding: 0;
				margin: 0;
			}
			html,body{
				width: 100%;
				height: 100%;
				font-size: 62.5%;
			}
			#box{
				width: 100%;
				height: 100%;
			}
			#wrap {
				font-family: '黑体';
				color: #000;
				font-weight: normal;
				position: absolute;
				left: 20px;
				top: 20px;
				z-index: 999;
				/*background: royalblue;*/
			}
			.ipAddress {
				width: 180px;
				/*height:29px;*/
				color: #E5B2AD;
				/*background: blue;*/
				border: none;
				/*border-bottom: 1px solid #EBBBB4;*/
				outline: 0;
				font-size: 13px;
				/*text-indent: 100px;*/
			}
			.xiala {
				display: inline-block;
				padding: 10px 0;
				vertical-align: middle;
				border-bottom: 1px solid #EBBBB4;
				background: #fff;
			}
			
			.xiala .service-list{
				font-size: 14px;
				cursor: pointer;
				height: 13px;
				display: inline-block;
				padding: 0 20px;
				border-right: 1px solid #EBBBB4;
			}
			.xiala .service-list img{
				margin-left: 5px;
				margin-bottom: 2px;
			}
			.IP {
				font-size: 14px;
				margin-left: 10px;
			}
			.button{
				background: #c9472e;
				cursor: pointer;
				display: inline-block;
				width: 51px;
				height: 19px;
				padding: 9px 10px;
				font-size: 14px;
				text-align: center;
				box-shadow: 2px 2px 4px #000;
				color: #fff;
			}
			#box #wrap .delete{
				background: #fff;
				cursor: pointer;
				display: inline-block;
				padding: 9px 10px 9px 0;
				/*height: 19px;*/
				border-bottom: 1px solid #EBBBB4;
				position: relative;
				top: 1px;
			}
			#box #wrap .delete span{
				display: inline-block;
				height: 18px;
				padding-left: 10px;
			}
			#box #wrap .delete span>img{
				width: 22px;
				height: 22px;
				vertical-align: middle;
				margin-top: -2px;
			}
			input[type=number] {
				-moz-appearance: textfield;
			}
			
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			
			.list {
				width: 165px;
				height: 180px;
				background: #fff;
				padding: 0 5px;
				cursor: pointer;
				box-shadow: 2px 2px 4px 0px #000;
				/*display: none;*/
				/*position: absolute;
				z-index: 999;*/
				overflow-y: scroll;
				/*scrollbar-face-color:#FB4446; /*滚动条3D表面（ThreedFace）的颜色*/ 
				/*scrollbar-highlight-color:#fff; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
				/*scrollbar-shadow-color:#C9472E; 滚动条3D界面的暗边（ThreedShadow）颜色*/ 
				/*scrollbar-3dlight-color:#e1e1e6; /*滚动条亮边框颜色*/
				/*scrollbar-arrow-color:#fff; /*滚动条方向箭头的颜色 */
				/*scrollbar-track-color:#fff; /*滚动条的拖动区域(TrackBar)颜色*/
				/*scrollbar-darkshadow-color:#e1e1e6; /*滚动条暗边框（ThreedDarkShadow）颜色*/
			}
			.list ul{
				width: 100%;
				height: 100%;
				
			}
			.list ul li{
				border-bottom: 1px solid #f1d0ca;
				font-size: 14px;
				padding-left: 5px;
				width: 93%;
				height: 25px;
				line-height: 25px;
			}
			.list::-webkit-scrollbar {
				 width: 6px;
				 height: 10px;
				 background-color: rgba(0,0,0,0);
			}
			
			/*定义滚动条轨道 内阴影+圆角*/
			
			.list::-webkit-scrollbar-track {
				 /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
				 background: #fff;
				 -webkit-border-radius: 5px;
				 border-radius: 5px;
				 border:1px solid #e1e1e6;
			}
			
			
			/*定义滑块 内阴影+圆角*/
			
			.list::-webkit-scrollbar-thumb {
				 border-radius: 5px;
				 /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
				 background-color: rgba(201, 73, 48, 0.7);
				
			}
			#warning{
				font-size: 12px;
				background: rgba(0,0,0,0.5);
				color: #fff;
				display: block;
				width: 135px;
				padding: 5px 0;
				position: absolute;
				top: 40px;
				left: 150px;
				display: none;
				text-align: center;
			}
			#warning span{
				width: 12px;
				height: 12px;
				display: inline-block;
				border: 1px solid #fff;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			#warning_repeat{
				font-size: 12px;
				background: rgba(0,0,0,0.5);
				color: #fff;
				display: block;
				width: 90px;
				padding: 5px 3px;
				position: absolute;
				top: 8px;
				left: 180px;
				display: none;
				text-align: center;
			}
			#warning span{
				width: 12px;
				height: 12px;
				display: inline-block;
				border: 1px solid #fff;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
			#map{
				width: 100%;
				height: 100%;
				position: relative;
			}
			#mengban{
				width: 335px;
				height: 865px;
				position: absolute;
				top: 63px;
				left: 20px;
				/*background: red;*/
				overflow: hidden;
			}
			#noneuser{
				font-family: '黑体';
				font-size: 12px;
				background: rgba(0,0,0,0.5);
				color: #fff;
				display: block;
				width: 115px;
				padding: 5px 0;
				position: absolute;
				top: 78px;
				left: 360px;
				display: none;
				text-align: center;
				z-index: 999;
				cursor: pointer;
			}
			#results{
				width: 330px;
				font-family: "黑体";
				background: #fff;
				position: absolute;
				top: -100%;
				left: 0px;
				overflow: hidden;
				color: #000000;
				box-shadow: 3px 3px  5px grey;
				/*text-align: center;*/
				z-index: 900;
			}
			.slide_down{
				animation: a 1s ease-in-out forwards;
			}
			@-webkit-keyframes a{
				from{top:-100%}
				to{top:0}
			}
			#results .more{
				background: rgb(22,155,213);
				color: #fff;
				position: absolute;
				left: 280px;
				top: 16px;
				text-align: center;
				border-radius: 4px;
				font-size: 1.2rem;
				height: 1.2rem;
				line-height: 1.2rem;
				padding: 0px 4px;
				cursor: pointer;
			}
			#results #multi_mb{
				width: 330px;
				/*height: 309px;*/
				overflow: hidden;
				position: relative;
			}
			#results #multiAreas{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			#box #results p{
				text-align: center;
				color: #09F;
				padding: 10px 0px;
				font-size: 13px;
			}
			#box #results .down{
				width: 100%;
				text-align: center;
				display: none;
			}
			#box #results .down>img{
				transform: rotate(180deg);
				margin-bottom: 15px;
				
			}
			#box #results #last{
				width: 330px;
				margin: auto;
				text-align: center;
			}
			#box #results #last .results_show_four>span:nth-child(2n+1){
				color: #000;
			}
			#box #results .wrap{
				width: 92%;
				/*height: auto;*/
				margin: 15px auto 15px;
				position: relative;
				/*overflow: hidden;*/
				/*-webkit-perspective: 20%;
            	-moz-perspective: 20%;*/
            	-webkit-backface-visibility: hidden;
			}
			#box #results .wrapFour{
				width: 92%;
				/*height: auto;*/
				margin: 0 auto 15px;
				position: relative;
				/*overflow: hidden;*/
				/*-webkit-perspective: 20%;
            	-moz-perspective: 20%;*/
            	-webkit-backface-visibility: hidden;
			}
			#box #results .wrap .top{
				width: 100%;
				height: 100%;
				background: #F6F6F6;
				/*opacity: 0.2;*/
				position: absolute;
				top: 0;
				left: 0;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
            	/*-moz-backface-visibility: hidden;*/
			}
			#box #results .wrapFour .top{
				width: 100%;
				height: 100%;
				background: #F6F6F6;
				position: absolute;
				top: 0;
				left: 0;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
            	/*-moz-backface-visibility: hidden;*/
			}
			#box #results  .results_show_one{
				width: 100%;
				position: relative;
				top: 0;
				left: 0;
				overflow: hidden;
				box-shadow: 3px 3px  5px grey;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
            	/*-moz-backface-visibility: hidden;*/
			}
			#box #results .results_show_two{
				width: 100%;
				position: relative;
				top: 0;
				left: 0;
				margin: 0 auto 15px;
				overflow: hidden;
				box-shadow: 3px 3px  5px grey;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
			}
			#box #results  .results_show_three{
				width: 100%;
				position: relative;
				top: 0;
				left: 0;
				margin: 0 auto 15px;
				overflow: hidden;
				box-shadow: 3px 3px  5px grey;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
			}
			#box #results  .results_show_four{
				width: 100%;
				position: relative;
				top: 0;
				left: 0;
				/*margin: 0 auto 15px;*/
				overflow: hidden;
				box-shadow: 3px 3px  5px grey;
				transform-style: preserve-3d;
				-webkit-backface-visibility: hidden;
			}
			#box #results  .results_show_one:hover{
				background: #F6F6F6;
			}
			#box #results  .results_show_two:hover{
				background: #F6F6F6;
			}
			#box #results  .results_show_three:hover{
				background: #F6F6F6;
			}
			#box #results  .results_show_four:hover{
				background: #F6F6F6;
			}
			.add{
				animation: b 1s linear forwards;
			}
			.add1{
				transform: rotateY(-180deg);
			}
			.add2{
				animation: c 1s linear forwards;
			}
			@-webkit-keyframes b{
				from{transform: rotateY(-180deg);}
				to{transform: rotateY(0deg);}
			}
			@-webkit-keyframes c{
				from{transform: rotateY(0deg);}
				to{transform: rotateY(180deg);}
			}
			#box #results  .results_show_four .num{
				display: inline-block;
				width: 50%;
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				color: #999;
				font-size: 13px;
			}
			#box #results  .results_show_four span{
				display: inline-block;
				font-size: 1.4rem;
				width: 50%;
				/*float: left;*/
				margin-bottom: 6px;
				color: #999;
			}
			#box #results .results_show_four span img{
				width: 18px;
				margin-bottom: -3px;
			}
			#box #results .results_show_four span:nth-child(2n+1){
				text-align: right;
				/*font-weight: bolder;*/
			}
			#box #results .results_show_four span:nth-child(2n){
				text-align: left;
			}
			#box #results  .results_show_one span{
				display: inline-block;
				font-size: 1.4rem;
				width: 50%;
				/*float: left;*/
				margin-bottom: 6px;
			}
			#box #results  .results_show_one span:first-child{
				font-weight: bolder;
			}
			#box #results  .results_show_one span:nth-child(2){
				font-weight: bolder;
			}
			#box #results  .results_show_two span{
				display: inline-block;
				font-size: 1.4rem;
				width: 50%;
				/*float: left;*/
				margin-bottom: 5px;
			}
			#box #results  .results_show_three span{
				display: inline-block;
				font-size: 1.4rem;
				width: 50%;
				/*float: left;*/
				margin-bottom: 6px;
			}
			#box #results  .results_show_three span img{
				width: 18px;
				margin-bottom: -3px;
			}
			#box #results  .results_show_one span:nth-child(2n+1){
				text-align: right;
				
			}
			#box #results  .results_show_one span:nth-child(2n){
				text-align: left;
			}
			#box #results  .results_show_two span:nth-child(2n+1){
				text-align: right;
			}
			#box #results  .results_show_two span:nth-child(2n){
				text-align: left;
			}
			#box #results  .results_show_three span:nth-child(2n+1){
				text-align: right;
			}
			#box #results  .results_show_three span:nth-child(2n){
				text-align: left;
			}
			#box #POI{
				width: 290px;
				/*height: 22px;*/
				background: #fff;
				color: #000;
				position: absolute;
				top: 32px;
				right: 10px;
				font-size: 13px;
				font-family:  '宋体';
				padding: 6px 0;
				cursor: pointer;
				z-index: 999;
			}
			#box #POI:hover span:nth-child(2){
				color: rgb(61,109,204);
			}
			#box #POI img{
				margin-bottom: -4px;
				margin-left: 5px;
				margin-right: 7px;
			}
			#box #POI>span:nth-child(3){
				font-size: 16px;
				margin-left: 5px;
				font-weight: bolder;
				margin-bottom: 1px;
				transform: rotate(-90deg);
			}
			#box #POI_class{
				width: 290px;
				position: absolute;
				right: 10px;
				top: 70px;
				background: #fff;
				font-family:'Arial';
				z-index: 999;
				display: none;
			}
			#box #POI_class #first{
				font-size:12PX;
				width: 290px;
				padding: 6px 0;
				border-bottom: 1px solid darkgrey;
			}
			#box #POI_class #first span{
				display: inline-block;
				margin-left: 5px;
			}
			#box #POI_class #first>img{
				width: 20px;
				margin-bottom: 2px;
				vertical-align: middle;
				margin-left: 220px;
			}
			#box  #total{
				/*padding: 10px 0;*/
				display: inline-block;
			}
			#box #total>span{
				margin-left: 5px;
				font-size: 1.3rem;
			}
			#box #total>span:nth-child(2){
				color: rgb(61,109,204);
				/*visibility: visible;*/
			}
			#box #poiClass_one{
				width: 290px;
				cursor: pointer;
				font-family: "宋体";
				/*display: none;*/
			}
			#box #poiClass_one #inner{
				width: 280px;
				margin: 0 auto;
				/*background: yellow;*/
				padding: 20px 0 20px 0;
				border-bottom: 1px solid darkgray;
			}
			#box #poiClass_one #inner .one{
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;
			}
			#box #poiClass_one #inner .one>span:nth-child(1){
				letter-spacing: 0.5px;
				color: #3D6DCC;
			}
			#box #poiClass_one #inner .one>span:nth-child(2){
				letter-spacing: 0.5px;
				color: #4C4C4C;
			}
			#box #poiClass_two{
				padding: 20px 0;
				width: 280px;
				margin: 0 auto;
				border-bottom: 1px solid darkgray;
				position: relative;
				display: none;
				cursor: pointer;
			}
			#box #poiClass_two >span:first-child{
				position: absolute;
				top: 21px;
				left: 5px;
				display: inline-block;
				width: 55px;
				text-align: right;
			}
			#box #poiClass_two #inner_two{
				width: 200px;
				display: inline-block;
				margin-left: 85px;
			}
			#box #poiClass_two #inner_two .two{
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;
			}
			#box #poiClass_two>span:first-child{
				font-weight: bolder;
				color: #3D6DCC;
				margin-left: 15px;
			}
			#box #poiClass_two #inner_two .two>span:nth-child(1){
				letter-spacing: 0.5px;
				color: #3D6DCC;
			}
			#box #poiClass_two #inner_two .two>span:nth-child(2){
				letter-spacing: 0.5px;
				color: #4C4C4C;
			}
			#box #poiClass_three{
				padding: 20px 0;
				width: 280px;
				margin: 0 auto;
				border-bottom: 1px solid darkgray;
				display: none;
				cursor: pointer;
				position: relative;
			}
			#box #poiClass_three >span:first-child{
				position: absolute;
				top: 21px;
				left: 5px;
				display: inline-block;
				width: 55px;
				text-align: right;
			}
			#box #poiClass_three #inner_three{
				width: 200px;
				display: inline-block;
				/*background: yellow;*/
				margin-left: 85px;
			}
			
			#box #poiClass_three #inner_three .three{
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;
			}
			#box #poiClass_three>span:first-child{
				font-weight: bolder;
				color: #3D6DCC;
				margin-left: 15px;
			}
			#box #poiClass_three #inner_three .three>span:nth-child(1){
				letter-spacing: 0.5px;
				color: #3D6DCC;
			}
			#box #poiClass_three #inner_three .three>span:nth-child(2){
				letter-spacing: 0.5px;
				color: #4C4C4C;
			}
			#box #poiList{
				background: #fff;
				position: absolute;
				top: 32px;
				right: 307px;
				width: 310px;
				height: 652px;
				font-family: "宋体";
				z-index: 999;
				overflow-y: auto;
				overflow-x: hidden;
				display: none;
				
			}
			#poiList::-webkit-scrollbar {
				 width: 6px;
				 height: 10px;
				 background-color: rgba(0,0,0,0);
			}
			
			/*定义滚动条轨道 内阴影+圆角*/
			
			#poiList::-webkit-scrollbar-track {
				 /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
				 background: #fff;
				 -webkit-border-radius: 5px;
				 border-radius: 5px;
				 border:1px solid #e1e1e6;
			}
			
			
			/*定义滑块 内阴影+圆角*/
			
			#poiList::-webkit-scrollbar-thumb {
				 border-radius: 5px;
				 /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
				 background-color: #F6F6F6;
				
			}
			#box #poiList .poiList_detail{
				position: relative;
				cursor: pointer;
				padding-bottom: 15px;
			}
			#box #poiList .poiList_detail:hover{
				background: rgba(246, 246, 246, 1)!important;
			}
			#box #poiList .poiList_detail .locate_red{
				display: inline-block;
				position: absolute;
				left: 10px;
				top: 12px;
				width: 23px;
				height: 23px;
				border-radius: 50%;
				background: red;
				text-align: center;
				line-height: 23px;
			}
			#box #poiList .poiList_detail .locate_red>span:nth-child(1){
				font-size: 14px;
				color: #fff;
				font-weight: bolder;
				font-family: '黑体';
			}
			#box #poiList .poiList_detail .bot{
				width: 270px;
				margin-left: 40px;
				padding-top: 15px;
				color: #4C4C4C;
			}
			#box #poiList .poiList_detail .bot span:nth-child(1){
				display: inline-block;
				font-size: 13px;
				width: 250px;
				margin-bottom: 5px;
				color: #3385FF;
			}
			#box #poiList .poiList_detail .bot span:nth-child(2){
				display: inline-block;
				font-size: 13px;
				width: 250px;
				margin-bottom: 5px;
			}
			#box #poiList .poiList_detail .bot span:nth-child(3){
				display: inline-block;
				font-size: 13px;
				color: #000;
			}
			#box #poiList #poiList_bot{
				position: absolute;
				top: 25px;
			}
			#box #poiList #closeList{
				width: 303px;
				background: #fff;
				text-align: right;
				cursor: pointer;
				position: fixed;
				z-index: 1000;
			}
			#box #poiList #closeList>img{
				width: 25px;
				height: 25px;
			}
			#box #mengban #results .results_show_one .breakUser{
				/*display: inline-block;*/
				overflow:hidden;
				text-overflow:ellipsis;
				/*text-align: left;*/
				text-indent: 0;
				height: 14px;
				line-height: 14px;
				white-space: nowrap;
				margin-bottom: -2px;
				cursor: pointer;
			}
			#box #mengban #results .results_show_one .breakOwner{
				/*display: inline-block;*/
				overflow:hidden;
				text-overflow:ellipsis;
				/*text-align: left;*/
				text-indent: 0;
				height: 14px;
				line-height: 14px;
				white-space: nowrap;
				margin-bottom: -2px;
				cursor: pointer;
			}
			#box #mengban #results .results_show_three .breakUser{
				/*display: inline-block;*/
				overflow:hidden;
				text-overflow:ellipsis;
				text-align: left;
				text-indent: 0;
				height: 14px;
				line-height: 14px;
				white-space: nowrap;
				margin-bottom: -2px;
				cursor: pointer;
			}
			#box #mengban #results .results_show_three .breakOwner{
				display: inline-block;
				overflow:hidden;
				text-overflow:ellipsis;
				text-align: left;
				text-indent: 0;
				height: 14px;
				line-height: 14px;
				white-space: nowrap;
				margin-bottom: -2px;
				cursor: pointer;
			}
