<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="captchaService" class="com.ipplus360.service.captcha.CustomGenericManageableCaptchaService">
        <constructor-arg index="0" ref="imageEngine" />
        <constructor-arg type="int" index="1" value="180" />
        <constructor-arg type="int" index="2" value="100000" />
    </bean>

    <bean id="imageEngine" class="com.octo.captcha.engine.GenericCaptchaEngine">
        <constructor-arg index="0">
            <list>
                <ref bean="captchaFactory" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="captchaFactory" class="com.ipplus360.service.captcha.CustomGimpyFactory">
        <constructor-arg>
            <ref bean="wordgen" />
        </constructor-arg>
        <constructor-arg>
            <ref bean="wordtoimage" />
        </constructor-arg>
    </bean>

    <bean id="wordgen" class="com.octo.captcha.component.word.wordgenerator.RandomWordGenerator">
        <!--可选字符-->
        <constructor-arg>
            <value>23456789abcdefghjkmnpqrstuvwxyzABCDEFGHJKMNPQRSTUVWXYZ</value>
        </constructor-arg>
    </bean>

    <bean id="wordtoimage" class="com.octo.captcha.component.image.wordtoimage.ComposedWordToImage">
        <constructor-arg index="0">
            <ref bean="fontGenRandom" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="backGenMultiShape" />
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="decoratedPaster" />
        </constructor-arg>
    </bean>

    <bean id="fontGenRandom" class="com.octo.captcha.component.image.fontgenerator.RandomFontGenerator">
        <!--最小字体-->
        <constructor-arg index="0">
            <value>60</value>
        </constructor-arg>
        <!--最大字体-->
        <constructor-arg index="1">
            <value>60</value>
        </constructor-arg>
        <constructor-arg index="2">
            <list>
                <bean class="java.awt.Font">
                    <constructor-arg index="0" value="Arial"/>
                    <constructor-arg index="1" value="0"/>
                    <constructor-arg index="2" value="10"/>
                </bean>
                <bean class="java.awt.Font" >
                    <constructor-arg index="0" value="Tahoma"/>
                    <constructor-arg index="1" value="1"/>
                    <constructor-arg index="2" value="10"/>
                </bean>
                <bean class="java.awt.Font" >
                    <constructor-arg index="0" value="Verdana"/>
                    <constructor-arg index="1" value="0"/>
                    <constructor-arg index="2" value="10"/>
                </bean>

                <bean class="java.awt.Font" >
                    <constructor-arg index="0" value="Comic sans MS"/>
                    <constructor-arg index="1" value="0"/>
                    <constructor-arg index="2" value="10"/>
                </bean>

                <bean class="java.awt.Font" >
                    <constructor-arg index="0" value="Lucida console"/>
                    <constructor-arg index="1" value="0"/>
                    <constructor-arg index="2" value="10"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="backGenMultiShape" class="com.octo.captcha.component.image.backgroundgenerator.MultipleShapeBackgroundGenerator" >
        <constructor-arg index="0"><value>300</value></constructor-arg>
        <constructor-arg index="1"><value>100</value></constructor-arg>
        <!--firstEllipseColorGenerator-->
        <constructor-arg index="2"><ref bean="colorWhite"/></constructor-arg>
        <!--secondEllipseColorGenerator-->
        <constructor-arg index="3"><ref bean="black"/></constructor-arg>
        <!--spaceBetweenLine-->
        <constructor-arg index="4"><value>20</value></constructor-arg>
        <!--spaceBetweenCircle-->
        <constructor-arg index="5"><value>10</value></constructor-arg>
        <!--ellipseHeight-->
        <constructor-arg index="6"><value>10</value></constructor-arg>
        <!--ellipseWidth-->
        <constructor-arg index="7"><value>26</value></constructor-arg>
        <!--firstRectangleColorGenerator-->
        <constructor-arg index="8"><ref bean="black"/></constructor-arg>
        <!--secondRectangleColorGenerator-->
        <constructor-arg index="9"><ref bean="colorWhite"/></constructor-arg>
        <!--firstRectangleColorGenerator-->
        <constructor-arg index="10"><value>3</value></constructor-arg>
    </bean>


    <bean id="backGenUni" class="com.octo.captcha.component.image.backgroundgenerator.GradientBackgroundGenerator">
        <!--背景宽度-->
        <constructor-arg index="0">
            <value>85</value>
        </constructor-arg>
        <!--背景高度-->
        <constructor-arg index="1">
            <value>38</value>
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="colorWhite" />
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="colorDimGrey" />
        </constructor-arg>
    </bean>

    <bean id="decoratedPaster" class="com.octo.captcha.component.image.textpaster.DecoratedRandomTextPaster">
        <!--最大字符长度-->
        <constructor-arg type="java.lang.Integer" index="0" value="5"/>
        <!--最小字符长度-->
        <constructor-arg type="java.lang.Integer" index="1" value="5"/>
        <!--文本颜色-->
        <constructor-arg index="2" type="com.octo.captcha.component.image.color.ColorGenerator" ref="colorGen"/>
        <!--<constructor-arg index="2">
            <ref bean="colorGen" />
        </constructor-arg>-->
        <!--文本混淆-->
        <constructor-arg index="3">
            <list>
                <!--<ref bean="baffleDecorator"/>-->
            </list>
        </constructor-arg>
    </bean>

    <bean id="baffleDecorator" class="com.octo.captcha.component.image.textpaster.textdecorator.BaffleTextDecorator">
        <constructor-arg type="java.lang.Integer" index="0">
            <value>1</value>
        </constructor-arg>
        <constructor-arg type="java.awt.Color" index="1">
            <ref bean="colorWhite" />
        </constructor-arg>
    </bean>

    <bean id="colorGen" class="com.octo.captcha.component.image.color.SingleColorGenerator">
        <constructor-arg type="java.awt.Color" index="0">
            <ref bean="colorWhite" />
        </constructor-arg>
    </bean>

    <bean id="colorWhite" class="java.awt.Color">
        <constructor-arg type="int" index="0">
            <value>255</value>
        </constructor-arg>
        <constructor-arg type="int" index="1">
            <value>255</value>
        </constructor-arg>
        <constructor-arg type="int" index="2">
            <value>255</value>
        </constructor-arg>
    </bean>

    <bean id="colorDimGrey" class="java.awt.Color">
        <constructor-arg type="int" index="0">
            <value>0</value>
        </constructor-arg>
        <constructor-arg type="int" index="1">
            <value>0</value>
        </constructor-arg>
        <constructor-arg type="int" index="2">
            <value>0</value>
        </constructor-arg>
    </bean>

    <bean id="blue" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>255</value></constructor-arg>
    </bean>

    <bean id="red" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>255</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>0</value></constructor-arg>
    </bean>
    <bean id="black" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>0</value></constructor-arg>
    </bean>

    <bean id="lightBlue" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>200</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>200</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>255</value></constructor-arg>
    </bean>

    <!--随机颜色-->
    <bean id="colorGenRandomDark" class="com.octo.captcha.component.image.color.RandomRangeColorGenerator" >
        <constructor-arg index="0">
            <list>
                <value>0</value>
                <value>255</value>
            </list>
        </constructor-arg>
        <constructor-arg index="1">
            <list>
                <value>0</value>
                <value>0</value>
            </list>
        </constructor-arg>
        <constructor-arg index="2">
            <list>
                <value>0</value>
                <value>200</value>
            </list>
        </constructor-arg>
        <constructor-arg index="3">
            <list>
                <value>255</value>
                <value>255</value>
            </list>
        </constructor-arg>
    </bean>

</beans>